* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 55px;
    background-color: #030414;
    color: white;
    display: flex;
    justify-content: space-evenly;

}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}


.nav-logo {
    height: 50px;
    width: 130px;
}

.logo {
    background-image: url(logo.png);
    background-size: cover;
    /* for removing background-color */
    margin-top: 5px;
    width: 80%;
    height: 40px;
}

/* box 2 */

.nav-address {

    height: 50px;
}

.add-loc {
    align-items: center;
    display: flex;
}

.a1 {

    color: #cccccc;
    font-size: 0.8rem;
    margin-top: 6px;
    margin-left: 15px;
}

.a2 {

    font-weight: 700;
    margin-left: 1px;
}

.nav-search {
    display: flex;
    background-color: pink;
    width: 650px;
    height: 40px;
    border-radius: 5px;
    margin-top: 6px;
    margin-left: 30px;
    border: 1.5px;

}

.nav-search:hover {
    border: 1.5px solid orange;
}

.search-select {

    background-color: #f3f3f3c7;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.input {

    background-color: #f3f3f3;
    width: 650px;
    padding-left: 15px;
    text-align: left 15px;
    border: none;
    font-size: 15px;

}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255, 159, 114);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;

}

.nav-signin {
    height: 50px;

}

.s1 {
    font-size: 0.8rem;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
}

.nav2 {
    font-size: 0.9rem;
    font-weight: 600;
}

.s1 a {
    color: #fffbfb;
    font-weight: bold;
    font-size: 0.9rem;
}

.nav2 a {
    color: white;
}


.retuo {
    height: 50px;
}

.nav-cart {
    height: 50px;
    width: 70px;
    display: flex;

}

.cart-logo {
    margin-top: 10px;
    font-size: 30px;
}

.cart {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 1px;
}

.panel {
    background-color: #222f3d;
    height: 35px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}

.panel-option {
    font-size: 0.85rem;
    width: 70%;

}

.panel-option p {
    display: inline;
    margin-left: 15px;
    border: 1.5px white;
}

.deales {
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */

.hero-Section {
    background-image: url("hero1.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

/* .left{
    width: 80px;
    height: 70px;
    margin-left: 80px;
    margin-top: 100px;

}
.left i{

    font-size: 70px;
    color: white;
  
}
.right{
    
    width: 80px;
    height: 70px;
    margin-left: 81%;
    margin-top: 100px;

}
.right i{

    font-size: 70px;
    color: white;
  
} */

.hero-mess {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    font-size: 0.9rem;
    margin-bottom: 30px;

}

.hero-mess a {
    color: #007185;

}

.shoping {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #E83189;
}

.Box {
    height: 350px;
    width: 23%;
    background-color: rgb(251, 176, 176);
    padding: 20px 0px 15px;
    margin-top: 30px;
   
}

.box-content {
    margin-left: 16px;
    margin-right: 16px;
}

.box-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-size: cover;
}

.footer {
    margin-top: 15px;
}

.pink {
    height: 25px;
    background-color: #E83189;
}

.footer-panel1 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #37475a;
    color: white;
    height: 50px;
    font-size: 0.85rem;
    font-weight: 700;
}

.footer-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;

}

.footer-panel2 a {
    margin-top: 15px;
    display: block;
    color: white;
    display: flex;

}

.footer-panel2 ul {
    margin-top: 30px;
    list-style: none;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 1px solid rgb(255, 255, 255);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.flogo {
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 130px;
    margin-top: 25px;

}

.foot-panel4 {
    background-color: #222f3d;
    color: white;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    flex-direction: column;
}

.pages a {
    color: inherit;
    text-decoration: none;
    padding: 0 10px;
}

.copy a {
    color: inherit;
    text-decoration: none;
    padding-top: 5px;
    display: block;
}